<div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" class="form-control" name="c_name" id="exampleInputName" placeholder="Enter Your Name" value="<% if(editing) { %><%= custs.c_name %><% } %>">
</div>
<div class="form-group">
    <label for="exampleInputEmail3">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail3" name="c_email" placeholder="Enter Your Email" value="<% if(editing) { %><%= custs.c_email %><% } %>">
</div>
<div class="form-group">
    <label for="exampleInputMobile">Mobile</label>
    <input type="number" class="form-control" id="exampleInputMobile" name="c_mobile" placeholder="Enter Mobile Number" value="<% if(editing) { %><%= custs.c_mobile %><% } %>">
</div>
<!-- <div class="form-group">
    <label for="exampleSelectGender">Gender</label>
    <select class="form-control" id="exampleSelectGender">
    <option>Male</option>
    <option>Female</option>
    </select>
</div>
<div class="form-group">
    <label>File upload</label>
    <input type="file" name="img[]" class="file-upload-default">
    <div class="input-group col-xs-12">
    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
    <span class="input-group-append">
        <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
    </span>
    </div>
</div>
<div class="form-group">
    <label for="exampleInputCity1">City</label>
    <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
</div> -->
<div class="form-group">
    <label for="exampleAddress">Address</label>
    <textarea class="form-control" id="exampleAddress" rows="4" name="c_address"><% if(editing) { %><%= custs.c_address %><% } %></textarea>
</div> 
<input type="hidden" class="form-control" name="c_id" id="c_id" value="<% if(editing) { %><%= custs.c_id %><% } %>">



